<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>GI-PAT | Admin Dashboard</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/2.css' %}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% static 'css/metisMenu.min.css' %}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="{% static 'css/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="{% static 'css/dataTables/dataTables.responsive.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/startmin.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">GI-PAT</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Home</a></li>
                </ul>

                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> ADMIN<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>Admin Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href="{% url 'dash' %}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>
			

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Forms</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Factory Request/Renewal Applications
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <form name="form" action="{% url 'adminrequest' %}" method="post"> {% csrf_token %}
                                                
                                                <div class="form-group">
													<label>Choose Industrial Area </label>
                                                    <select name="area" class="form-control">
														<option value="small">Small Scale</option>
														<option value="medium">Medium Scale</option>
														<option value="large">Large Scale</option>
														<option value="very large">Very Large Scale</option>
													</select>
                                                </div>
                                                <button type="submit" class="btn btn-default">Submit Button</button>
                                            </form>
                                        </div>
                                        
                                    </div>
                                    <!-- /.row (nested) -->
									<div class="panel panel-default">
										<div class="panel-heading">
											{{area}}
										</div>
										<!-- /.panel-heading -->
										<div class="panel-body">
											<div class="table-responsive">
												<table class="table table-striped table-bordered table-hover" id="dataTables-example">
													<thead>
														<tr>
															<th>Application Accepted</th>
															<th>Application Denied</th>
															<th>Application Pending for Registration</th>
															<th>Application Pending for Renewal</th>
														</tr>
													</thead>
													<tbody>
														<tr class="odd gradeX">
															<td><a href=" {% url 'factoryprofile' %}">GSHOCK Industries</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Junior TEQIP</a></td>
															<td><a href=" {% url 'factoryprofile' %}">AFFA Industries</a></td>
															<td class="center"><a href=" {% url 'factoryprofile' %}">Rancho Industries</a></td>
														</tr>
														<tr class="even gradeC">
															<td><a href=" {% url 'factoryprofile' %}">Rancho Indutsries Pvt. Ltd.</a></td>
															<td><a href=" {% url 'factoryprofile' %}">SaReGaMa Pvt. Ltd.</a></td>
															<td><a href=" {% url 'factoryprofile' %}">ButterCap Ltd</a></td>
															<td class="center"><a href=" {% url 'factoryprofile' %}">Toshniwal Industries</a></td>
														</tr>
														<tr class="odd gradeA">
															<td><a href=" {% url 'factoryprofile' %}">GPAT Tech</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Twitterup</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Foxeda Ltd.</a></td>
															<td class="center"><a href=" {% url 'factoryprofile' %}">GSHOCK Pvt. Ltd. </a></td>
														</tr>
														<tr class="even gradeA">
															<td><a href=" {% url 'factoryprofile' %}">FireShark Pvt. Ltd.</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Firefox</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Win Zip</a></td>
															<td class="center"><a href=" {% url 'factoryprofile' %}">Naturals Industries</a></td>
														</tr>
														<tr class="odd gradeA">
															<td><a href=" {% url 'factoryprofile' %}">Gecko</a></td>
															<td><a href=" {% url 'factoryprofile' %}">TwitCup India</a></td>
															<td><a href=" {% url 'factoryprofile' %}">Loxy+ Pvt. Ltd.</a></td>
															<td class="center"><a href=" {% url 'factoryprofile' %}">Byju`s India</a></td>
														</tr>

													</tbody>
												</table>
											</div>
											<!-- /.table-responsive -->
											
										</div>
									<!-- /.panel-body -->
									</div>
                            <!-- /.panel -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/2.js' %}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static 'js/metisMenu.min.js' %}"></script>

        <!-- DataTables JavaScript -->
        <script src="{% static 'js/dataTables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables/dataTables.bootstrap.min.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/startmin.js' %}"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                        responsive: true
                });
            });
        </script>

    </body>
</html>
